.col-md-6 a {
    display: block;
    margin-bottom: 8px; /* thêm khoảng cách giữa các dòng cho đẹp */
    color: #333; /* màu chữ */
    text-decoration: none; /* bỏ gạch chân nếu muốn */
}
hr{
    background-color: black;
}